@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ShopCenter.Application.DTOs.Contact
@model ShopCenter.Presentation.Razor.Areas.User.Pages.Dashboard.AnswerTicketModel
@{

    var Id = @Model.Ticketx.Ticket.Id;
}




<main class="main-row mb-2 mt-2 d-block" style="transform: none;">
    <div class="container-main" style="transform: none;">
        <div class="d-block" style="transform: none;">
            <div class="col-lg-9 col-md-8 col-xs-12 pr mt-3">
                <section class="blog-home">

                    <div class="post-comments">
                        <div class="comments-area">
                            <h2 class="comments-title">
                                <i class="fa fa-comment-o"></i>
                                نظرات کاربران
                                <p class="count-comment">253 نظر</p>
                            </h2>
                            <ol class="comment-list">
                                <li class="comment-even">
                                    <div class="comment-body">
                                        <header class="comment-meta">
                                            <div class="comment-author">
                                                <img src="assets/images/man.png" class="avator">
                                                توسط حسن شجاعی در تاریخ 14 اردیبهشت ۱۳۹۹
                                            </div>
                                        </header>
                                        <p>لوریم ایپسوم به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی نشانگر چگونگی نوع و اندازهٔ قلم و ظاهرِ متن باشد</p>
                                        <div class="reply text-left">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-even">
                                    <div class="comment-body">
                                        <header class="comment-meta">
                                            <div class="comment-author">
                                                <img src="assets/images/man.png" class="avator">
                                                توسط حسن شجاعی در تاریخ 14 اردیبهشت ۱۳۹۹
                                            </div>
                                        </header>
                                        <p>لوریم ایپسوم به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی نشانگر چگونگی نوع و اندازهٔ قلم و ظاهرِ متن باشد</p>
                                        <div class="reply text-left">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-even">
                                    <div class="comment-body">
                                        <header class="comment-meta">
                                            <div class="comment-author">
                                                <img src="assets/images/man.png" class="avator">
                                                توسط حسن شجاعی در تاریخ 14 اردیبهشت ۱۳۹۹
                                            </div>
                                        </header>
                                        <p>لوریم ایپسوم به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی نشانگر چگونگی نوع و اندازهٔ قلم و ظاهرِ متن باشد</p>
                                        <div class="reply text-left">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-even">
                                    <div class="comment-body">
                                        <header class="comment-meta">
                                            <div class="comment-author">
                                                <img src="assets/images/man.png" class="avator">
                                                توسط حسن شجاعی در تاریخ 14 اردیبهشت ۱۳۹۹
                                            </div>
                                        </header>
                                        <p>لوریم ایپسوم به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی نشانگر چگونگی نوع و اندازهٔ قلم و ظاهرِ متن باشد</p>
                                        <div class="reply text-left">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-even">
                                    <div class="comment-body">
                                        <header class="comment-meta">
                                            <div class="comment-author">
                                                <img src="assets/images/man.png" class="avator">
                                                توسط حسن شجاعی در تاریخ 14 اردیبهشت ۱۳۹۹
                                            </div>
                                        </header>
                                        <p>لوریم ایپسوم به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی نشانگر چگونگی نوع و اندازهٔ قلم و ظاهرِ متن باشد</p>
                                        <div class="reply text-left">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <partial name="Shared/_AnswerTicketPartial" model="@(new AnswerTicketDTO{Id = Model.Ticketx.Ticket.Id})" />
                            <button class="btn comment-submit-button">
                                ثبت نظر
                            </button>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</main>