@page
@model ShopCenter.Presentation.Razor.Areas.User.Pages.Dashboard.ChangePassword

    <div class="profile-content">
        <div class="profile-stats">
            <div class="profile-address">
                <div class="middle-container">
                    <form method="post" class="form-checkout">
                        <div class="form-checkout-row">
                            
                            <label for="password">رمز عبور قبلی <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                            <input type="text" id="password" class="input-password-checkout form-control" asp-for="CurrentPassword">
                            <span asp-validation-for="CurrentPassword" class="text-danger" style="font-size: 15px"></span>
                            <label for="password">رمز عبور جدید <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                            <input type="text" id="password" class="input-password-checkout form-control" asp-for="NewPassword">
                            <span asp-validation-for="NewPassword" class="text-danger" style="font-size: 15px"></span>
                            <label for="password">تکرار رمز عبور جدید <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                            <input type="text" id="password" class="input-password-checkout form-control" asp-for="ConfirmNewPassword">
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger" style="font-size: 15px"></span>
                            <div class="AR-CR">
                                <button class="btn-registrar" type="submit"> ثبت تغییرات </button>
                                <a href="#" class="cancel-edit-address" data-dismiss="modal" aria-label="Close">بازگشت</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>