@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ShopCenter.Domain.Models.Products
@{
    var categories = ViewData["ProductCategories"] as List<ProductCategory>;
}


<!-- header-------------------------------->
 
 


 <header class="header-main">
    <div class="container-main">
        <div class="d-block">
            <section class="h-main-row">
                <div class="col-lg-9 col-md-12 col-xs-12 pr">
                    <div class="header-right">
                        <div class="col-lg-3 pr">
                            <div class="header-logo row text-right">
                                <a href="#">
                                    <img src="/images/logo.png" alt="دیجی اسمارت">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 pl">
                            <div class="header-search row text-right">
                                <div class="header-search-box">
                                    <form action="#" class="form-search">
                                        <input type="search" class="header-search-input" name="search-input" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                        <div class="action-btns">
                                            <button class="btn btn-search" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <div class="search-filter">
                                                <div class="form-ui">
                                                    <div class="custom-select-ui">
                                                        <select class="right">
                                                           
                                                            <option>همه دسته ها</option>
                                                            <option>کالای دیجیتال</option>
                                                            <option>آرایشی بهداشتی</option>
                                                            <option>ابزاری اداری</option>
                                                            <option>مد پوشاک</option>
                                                            <option>خانه آشپز خانه</option>
                                                            <option>لوازم تحریر و هنر</option>
                                                            <option>کودک و نوزاد</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-0 col-xs-12 pl">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="header-left">
                            <div class="header-account text-left">
                                <div class="d-block">
                                    <div class="account-box">
                                        <div class="nav-account d-block pl">
                                            <span class="icon-account">
                                                <img src="/images/defaults/man.png" class="avator">
                                            </span>
                                            <span class="title-account">حساب کاربری</span>
                                            <div class="dropdown-menu">
                                                <ul class="account-uls mb-0">
                                                    <li class="account-item">
                                                        <a asp-area="User" asp-page="/Dashboard/Profile" class="account-link">پنل کاربری</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">سفارشات من</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">تنظیمات</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a asp-page="/Account/LogOut" class="account-link">خروج</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                            <div class="user-area text-center" style="margin-top: 15px;">
                                <div class="logged-out">
                                    <i class="zmdi zmdi-account-o"></i>
                                    <a asp-page="/Account/Login" style="color:Gray;"> ورود </a>/
                                    <a asp-page="/Account/Register" style="color:Gray;"> ثبت نام </a>
                                </div>
                            </div>
                    }


                </div>
            </section>
            <div>
                <nav class="header-main-nav">
                    <div class="d-block">
                        <div class="align-items-center">
                        <ul class="menu-ul mega-menu-level-one">
                        
                        @if (categories != null && categories.Any())
                        {
                            @foreach (var category in categories.Where(s => s.ParentId == null))
                            {
                                if (categories.Any(s => s.ParentId == category.Id))
                                {
                                    <li id="nav-menu-item" class="menu-item nav-overlay">
                                        <a href="#" class="current-link-menu">
                                            @category.Title
                                        </a>
                                        <ul class="sub-menu is-mega-menu mega-menu-level-two">
                                            @foreach (var subCategory in categories.Where(s => s.ParentId == category.Id))
                                            {
                                                        <li id="nav-menu-item" class="menu-mega-item menu-item-type-mega-menu">
                                                    <a href="#" class="current-link-menu">
                                                        @subCategory.Title
                                                    </a>
                                                            <ul class="sub-menu mega-menu-level-three">
                                                    @if (categories.Any(s => s.ParentId == subCategory.Id))
                                                    {

                                                            @foreach (var secondSubCategory in categories.Where(s => s.ParentId == subCategory.Id))
                                                            {
                                                                <li class="menu-mega-item-three">
                                                                    <a href="#">
                                                                        @secondSubCategory.Title
                                                                    </a>
                                                                </li>
                                                            }
                                                    }
                                                        </ul>
                                                </li>

                                            }
                                        </ul>
                                    </li>
                                }
                            }
                            }
                        </ul>
                   @*    
                            *@
                        </div>
                    </div>
                </nav>
            </div>
        <!--    responsive-megamenu-mobile----------------->
        
            <nav class="sidebar">
                <div class="nav-header">
                    <div class="header-cover"></div>
                    <div class="logo-wrap">
                        <a class="logo-icon" href="#"><img alt="logo-icon" src="/images/logo.png" width="40"></a>
                    </div>
                </div>
                <ul class="nav-categories ul-base">
                    <li>
                        <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="mdi mdi-chevron-down"></i>کالای دیجیتال</a>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                            <ul>
                                <li class="has-sub">
                                    <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                                        <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                                        <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                                        <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#" class="category-level-2">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                        <li><a href="#" class="category-level-3">هوآوی</a></li>
                                        <li><a href="#" class="category-level-3">اپل</a></li>
                                        <li><a href="#" class="category-level-3">شیائومی</a></li>
                                        <li><a href="#" class="category-level-3">آنر</a></li>
                                        <li><a href="#" class="category-level-3">نوکیا</a></li>
                                        <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#" class="category-level-2">دوربین</a>
                                    <ul>
                                        <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                                        <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="mdi mdi-chevron-down"></i>آرایشی و بهداشتی</a>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                            <ul>
                                <li class="has-sub">
                                    <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                                        <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                                        <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                                        <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#" class="category-level-2">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                        <li><a href="#" class="category-level-3">هوآوی</a></li>
                                        <li><a href="#" class="category-level-3">اپل</a></li>
                                        <li><a href="#" class="category-level-3">شیائومی</a></li>
                                        <li><a href="#" class="category-level-3">آنر</a></li>
                                        <li><a href="#" class="category-level-3">نوکیا</a></li>
                                        <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#" class="category-level-2">دوربین</a>
                                    <ul>
                                        <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                                        <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">ابزار و اداری</a></li>
                    <li><a href="#">مد و پوشاک</a></li>
                    <li>
                        <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="mdi mdi-chevron-down"></i>خانه و آشپزخانه</a>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                            <ul>
                                <li class="has-sub">
                                    <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                    <ul>
                                        <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                                        <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                                        <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                                        <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#" class="category-level-2">گوشی موبایل</a>
                                    <ul>
                                        <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                        <li><a href="#" class="category-level-3">هوآوی</a></li>
                                        <li><a href="#" class="category-level-3">اپل</a></li>
                                        <li><a href="#" class="category-level-3">شیائومی</a></li>
                                        <li><a href="#" class="category-level-3">آنر</a></li>
                                        <li><a href="#" class="category-level-3">نوکیا</a></li>
                                        <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#" class="category-level-2">دوربین</a>
                                    <ul>
                                        <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                                        <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                                        <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">لوازم تحریر و هنر</a></li>
                    <li><a href="#">کودک و نوزاد</a></li>
                </ul>
            </nav>
            <div class="nav-btn nav-slider">
                <span class="linee1"></span>
                <span class="linee2"></span>
                <span class="linee3"></span>
            </div>
            <div class="overlay"></div>
            <!--    responsive-megamenu-mobile----------------->
        </div>
    </div>
</header>
<div class="nav-categories-overlay"></div>
<!-- header-------------------------------->