
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه اینترنتی کالا مارکت</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/vendor/nice-select.css">
    <link rel="stylesheet" href="/css/vendor/jquery.jqZoom.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
@await Component.InvokeAsync("SiteHeader")
@RenderBody()
@await Component.InvokeAsync("SiteFooter")
</body>
<!-- file js---------------------------------------------------->
<script src="/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/js/vendor/bootstrap.js"></script>
<!-- plugin----------------------------------------------------->
<script src="/js/vendor/owl.carousel.min.js"></script>
<script src="/js/vendor/jquery.countdown.js"></script>
<script src="/js/vendor/jquery.nice-select.min.js"></script>
<script src="/js/vendor/jquery.jqZoom.js"></script>
<!-- main js---------------------------------------------------->
<script src="/js/main.js"></script>
</html>